/* .chheader {
	
	background-repeat: no-repeat;
	
}

.row{
    background: #ffffff;
    padding: 2%;
}

.chheader p {
	margin: 0;
} */
.course {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	margin: 20px;
	overflow: hidden;
	
}

.course h6 {
	opacity: 0.6;
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.course h2 {
	letter-spacing: 1px;
	margin: 10px 0;
}

.course-preview {
	background-color:  #1965b1;
    color: #fff;
    padding: 30px;;
	color: #fff;
	padding: 30px;
	
}

.course-preview a {
	color: #fff;
	display: inline-block;
	font-size: 12px;
	opacity: 0.6;
	margin-top: 30px;
	text-decoration: none;
}

.course-info {
	padding: 30px;
	position: relative;
	width: 100%;
}

.progress-container {
	position: absolute;
	top: 30px;
	right: 30px;
	text-align: right;
	width: 150px;
}



.btn {
    background-color: #9ac3ef;
    border: 0;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgb(0 0 0 / 20%);
    color: #fff;
    font-size: 16px;
    padding: 12px 25px;
    /* bottom: 30px; */
    float: right;
    /* right: 30px; */
    letter-spacing: 1px;
}
.course-info h4{  
    padding: 10px 0 10px 0;
}
.courses-container{
    width: 100%;
    padding: 0 8%;
}
